@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
} 

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Define @font-face for Inter font */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff') format('woff'), /* Regular weight */
       url('./fonts/Inter-SemiBold.woff2') format('woff2'); /* SemiBold weight */
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2'); /* SemiBold weight */
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

/* Define font and size variables */
:root {
  --font-scale: 1.1; /* Scale factor for font sizes */

  --background: #ffffff;
  --foreground: #171717;

  /* Font families */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Georgia', serif;

  /* Font sizes multiplied by the scale factor */
  --font-size-xs: calc(0.75rem * var(--font-scale)); /* 12px */
  --font-size-sm: calc(0.875rem * var(--font-scale)); /* 14px */
  --font-size-base: calc(1rem * var(--font-scale)); /* 16px */
  --font-size-lg: calc(1.125rem * var(--font-scale)); /* 18px */
  --font-size-xl: calc(1.25rem * var(--font-scale)); /* 20px */
  --font-size-2xl: calc(1.5rem * var(--font-scale)); /* 24px */
  --font-size-3xl: calc(1.875rem * var(--font-scale)); /* 30px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D5DFFF;
    --foreground: #ededed;
  }
}

/* General styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary); /* Use the primary font */
}



/* Utility classes for font sizes */
.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: var(--font-size-base);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
}

.text-3xl {
  font-size: var(--font-size-3xl);
}

/* Optional: Utility classes for font families */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}


/* globals.css */

/* Responsive text scaling for smooth resizing */
.text-responsive {
  font-size: clamp(0.05rem, 2vw + 1rem, 3rem);
}


.text-responsive-contact {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Min 16px, ideal scaling based on 2vw, Max 24px */
}


/* Ensuring responsive images */
img, svg {
  width: 100%;
  height: auto;
}

.nav-custom-blur {
  backdrop-filter: blur(15px);
}

.backdrop-blur-md {
  backdrop-filter: blur(10px);
}

/* Add smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Optional: Hide scrollbar for cleaner look */
@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}




